/* src/components/Hero/Hero.css */

.hero {
  position: relative;
  padding: 120px 0; /* 120px top and bottom */
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.hero-slider {
  list-style: none;
  height: 100%;
  position: relative;
}

.slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-top: 100px;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-3);
  z-index: 1;
}

.slider-item.active {
  opacity: 1;
  visibility: visible;
}

.slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.section-subtitle::after {
  margin-block: 14px 20px;
}

.hero-title {
  margin-bottom: 20px;
}

.hero-text {
  margin: 10px 0 40px;
}

.hero .btn {
  margin: 0 auto;
}

.slider-btn {
  display: none;
}

@media (min-width: 768px) {
  .hero .slider-btn {
    display: grid;
    position: absolute;
    z-index: 2;
    color: var(--gold-crayola);
    font-size: 2.4rem;
    border: 1px solid var(--gold-crayola);
    width: 45px;
    height: 45px;
    place-items: center;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: var(--transition-1);
    background-color: transparent;
    border-radius: var(--radius-circle);
  }

  .hero .slider-btn ion-icon {
    transform: rotate(-45deg);
  }

  .hero .slider-btn.prev {
    left: 30px;
  }

  .hero .slider-btn.next {
    right: 30px;
  }

  .hero .slider-btn:hover,
  .hero .slider-btn:focus-visible {
    background-color: var(--gold-crayola);
    color: var(--black);
  }

  .hero {
    height: 880px;
  }

  .hero-btn {
    bottom: 50px;
    right: 50px;
    transform: scale(1);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}
